<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Report</title>
    <style>
        .table {
            display: table;
            width: 100%;
            border-collapse: collapse;
        }

        .row {
            display: table-row;
        }

        .cell {
            display: table-cell;
            padding: 8px;
            border: 1px solid black;
        }

        p {
            font-size: 12px;
            font-weight: normal;
        }
    </style>
</head>

<body>
    <h1>Results report {{ data_origin }}</h1>

    {% for pred in pred_stat_dict %}
    <div class="table"></div>
    <h2> {{ pred_stat_dict[pred]['title'] }}</h2>
    {{pred_stat_dict[pred]['metrics_table'] | safe}}
    <p>Clusters Threshold : {{ clusters_threshold_2 }}</p>
    <p>Clusters Filter : {{ clusters_filter_2 }}</p>
    </div>
    {% endfor %}

    <div class="test">
        <h1>Quality control</h1>

        <h2>Preprocessed {{ modality }} image histogram</h2>
        <p>Histogram of the {{ modality }} image that enters the classifier: {{ resolution }} mm<sup>3</sup> with {{
            image_size }} shape, (within brain mask and with censoring for voxels outside the brain mask)</p>
        <object type='image/svg+xml' data='data:image/svg+xml;base64, {{ hist_intensity }}' width="400"
            height="400"></object>

        <h2>Crop box</h2>Display of the cropping region on the conformed image (256x256x256 at 1.0 mm<sup>3</sup>
        resolution).</p>
        <object type='image/svg+xml' data='data:image/svg+xml;base64, {{ bounding_crop }}' width="600"
            height="400"></object>

        {% if isocontour_slides_FLAIR_T1 %}
        <h2>Isocontour Slides for coregistration FLAIR on T1w</h2>
        <p>Isocontour of the FLAIR image coregister on T1w image that enters the classifier: {{ resolution }}
            mm<sup>3</sup> with {{ image_size }}, (within brain mask and with censoring for voxels outside the brain
            mask)</p>
        <img src='data:image/png;base64, {{ isocontour_slides_FLAIR_T1 }}' width="600" height="300"></img>
        {% endif %}

        {% if qc_overlay_brainmask_t1 %}
        <h2>Overlay of final brainmask over cropped {{ modality }}</h2>
        <p>Overlay of the brainmask on {{ modality }} image : {{ resolution }} mm<sup>3</sup> with {{ image_size }},
            (with censoring for voxels outside the brain mask)</p>
        <img src='data:image/png;base64, {{ qc_overlay_brainmask_t1 }}' width="600" height="300"></img>
        {% endif %}
    </div>
    {% if sum_workflow %}
    <h2>Preprocessing workflow diagram</h2>
    <p>Parameters : </p>
    <p>value percentile : {{ percentile }}</p>
    <p>value threshold : {{ threshold }}</p>
    <p>final resolution : {{ resolution }} mm<sup>3</p>
    <p>final dimensions crop : {{ image_size }}</p>
    <object type='image/svg+xml' data='data:image/svg+xml;base64, {{ sum_workflow }}' width="700" height="500"></object>
    {% endif %}
</body>

</html>